/* Utilidades */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
.bg-negro {
    background-color: $negro;
}
.rosa {
    color: $primario;
}
.azul {
    color: $secundario !important;
    border-color: $secundario !important;
}
.seccion {
    margin: 6rem auto 2rem;
    display: none;
}
.boton-rosa {
    border-color: $primario !important;
    color: $primario !important;
}
.mostrar-seccion {
    display: block !important;
}