//* COLORES
$blanco: #fff;
$negro: #000000;
$primario: #F99ECC;
$secundario: #74C9E8;
$rosaOscuro: darken($primario, 5);
$azulOscuro: darken($secundario, 5);
$grisClaro: #F1F1F1;

//* FUENTES
$fuenteHeading: 'Baloo Paaji 2', cursive;
$fuenteParrafos: 'PT Sans', sans-serif;

//* estilos
$normal: 400;
$bold: 700;
$cursiva: italic;

// Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;

// Separaciones
$sepmedia: 5rem;