.header {
    &.fijo {
        position: fixed;
        width: 100%;
        box-shadow: 0 .3rem .5rem #444;

        .logotipo {
            max-width: 13rem;
            max-height: 5rem;
        }
    }
}
.barra-negra {
    padding: 1rem 0;
    background-color: $negro;

    @include tablet {
        @include grid(3, $sepmedia / 2);
    }
}

.busqueda {
    display: none;
    
    @include tablet {
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 20rem;

    img {
        height: 8rem;
    }
}

.navegacion-principal {
    display: flex;
    align-items: center;
}
.enlaces {
    display: none;

    @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $sepmedia / 3;  
    }

    .enlace{
        color: $primario;
    }
}