body {
    background-color: rgb(43, 56, 77);

    &.opacity{
        overflow: hidden;
    }
}

#contenedor-menu {
    display: flex;
    justify-content: center;

    @include tablet {
        display: none;
    }
}

#hamburger button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 3;
}

#hamburger button span {
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2px;

    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#hamburger button.open .top-line {
    animation-name: top-line-animation;
}

#hamburger button.open .middle-line {
    animation-name: middle-line-animation;
}

#hamburger button.open .bottom-line {
    animation-name: bottom-line-animation;
}

/* Animacion de cerrado */
#hamburger button .top-line {
    animation-name: top-line-animation-close;
}

#hamburger button .middle-line {
    animation-name: middle-line-animation-close;
}

#hamburger button .bottom-line {
    animation-name: bottom-line-animation-close;
}

/* Animaciones */
@keyframes top-line-animation {
    50%, 100%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
}
/* Cerrado */
@keyframes top-line-animation-close {
    0%{
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }

    50%, 100% {
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes middle-line-animation {
    20%, 100%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
}
/* Cerrado */
@keyframes middle-line-animation-close {
    0%{
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }

    20%, 100% {
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
}

@keyframes bottom-line-animation {
    50%, 100%{
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
}
/* Cerrado */
@keyframes bottom-line-animation-close {
    0% {
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%, 100%{
        margin: 5px auto;
        transform: translateY(0) rotate(0deg);
    }
}

/* Estilos para el contenedor del Menú */
.cont-menu{
    background-color: rgb(42,42,42);
    box-shadow: 2px 0px 5px 2px rgb(66,66,66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 1;
    left: 1;
    transition: all .5s ease;
    z-index: 2;
}

/* Estilos por agregar en JavaScript */
.active{
    transform: translate(-60rem);
}

/* Estilos para el listado del Menú */
.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li{
    color: $blanco;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.cont-menu ul li:hover{
    background-color: $primario;
    color: rgb(42,42,42);
}