.pedido {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $negro;
    align-items: center;

    @include tablet {
        display: grid;
        grid-template-columns: 10% 80% 10%;
        gap: 2rem;
    }
    &:last-of-type {
        border: 0;
    }
    
    p {
        margin: 1rem 0;
        text-align: center;

        @include tablet {
            margin: 0;
            text-align: unset;
        }
    }
    img {
        max-width: 9rem;
        margin: 2rem 0 0;
    }
    button {
        background-color: $secundario;
        color: $negro;
        padding: 0 30px;
        
        @include tablet {
            padding: 0;
        }
    }
}

.info_pedido {

    .nombre_pedido {
        font-size: 2rem;
        font-weight: $bold;
    }
    .fecha_pedido {
        font-size: 1.5rem;
    }
    .precio_pedido {
        font-weight: $bold;
    }
}