.slide-texto{
    color: $blanco;
    font-weight: $bold;
    font-size: $sepmedia / 2;
    position: absolute;
    bottom: 0;
    left: 10rem;
}

.swiper-slide {

    background-repeat: no-repeat;
    background-size: cover;
    .webp &:nth-child(2){
        background-image: url(../img\slide2.webp);
    }
    .no-webp &:nth-child(2){
        background-image: url(../img\slide2.jpg);
    }

    &:nth-child(2) {
        background-position: center right;

        @include tablet {
            background-position: center center;
        }
    }

    /* 3ER SLIDER */
    .webp &:nth-child(3){
        background-image: url(../img\slide3.webp);
    }
    .no-webp &:nth-child(3){
        background-image: url(../img\slide3.jpg);
    }

    &:nth-child(3) {
        background-position: center center;

        @include tablet {
            background-position: center center;
        }
    }
}