.tabs {
    @include grid(2, 2rem);
    
    button {
        background-color: $blanco;
        padding: 1rem;
        font-weight: $bold;
        font-size: 1.4rem;
        height: auto;
        text-transform: uppercase;
        text-align-last: center;
        border: none;

        &.actual {
            background-color: $primario;
            color: $blanco;
        }

        &:hover {
            cursor: pointer;
        }
    }
}