.ui {
    background-color: $blanco;

    @include tablet {
        display: grid;
        grid-template-columns: 20% 80%;
    }
}

.imagen_perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid $negro !important;

    h4 {
        margin: 1rem 0;
    }
    img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
    }
}

.ui_botones {
    margin: 0;
}

.ui_boton {
    margin: 0;
    
    button {
        margin: 0;
        background-color: $blanco;
        color: $negro;
        height: auto;
        width: 100%;
        padding: 1rem;
        font-size: 1.4rem;
        font-weight: $bold;
        text-transform: uppercase;
        text-align-last: center;
        border-right: 1px solid $negro !important;
        border-left: 0;
        border-top: 0;
        border-bottom: 0;

        &.activo {
            background-color: $primario;
        }
        a {
            display: block;
            width: 100%;
            color: $negro;
        }
    }
}